/*body containers */

.booking,
html {
  padding-top: 150px;
  background-color: rgb(241, 241, 241);
  background: url(src/assets/images/MAIN-BG.png) no-repeat center;
  // background-size: cover;
  background-size: 100%;
  background-position: top center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(241, 241, 241);
  height: 40%;
}

.form-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

.booking-page {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 50px;
  margin: auto;
}

.booking-container {
  background-color: rgb(255, 255, 255);
  border-radius: 2cm;
  text-align: center;
  height: auto;
  width: 100%;
}

.right-panel {
  padding-top: 40px;
 
}
.booking-container2 {
  background-color: rgb(255, 255, 255);
  border-radius: 2cm;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 30px;
}

.booking-row {
  padding: 5%;
  height: auto;
}

// .datepicker-container {
//   display: flex;
//   justify-content: flex-end;
//   #datepicker {
//     width: 60%;
//   }
// }
// .timepicker-container {
//   display: flex;
//   justify-content: flex-start;
//   #timepicker {
//     width: 60%;
//   }
// }

.zonepicker-container {
    display: flex;
    justify-content: flex-end;
    #zone-input {
      width: 60%;
    }
  }
  .statepicker-container {
    display: flex;
    justify-content: flex-start;
    #state-input {
      width: 60%;
    }
  }

  .policy-container {
    display: flex;
    justify-content: flex-end;
    #zone-input {
      width: 60%;
    }
  }
  .statepicker-container {
    display: flex;
    justify-content: flex-start;
    #state-input {
      width: 60%;
    }
  }

.payment {
  padding-top: 30px;
  padding-left: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  width: 100%;
}

.accordion-header {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(159, 164, 170);
}

p.inner-accordion-text {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(159, 164, 170);
  text-align: justify;
}

p.inner-text {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(159, 164, 170);
  text-align: justify;
  font-size: 10px;
}
p.inner-text-policy {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(159, 164, 170);
  text-align: center;
  font-size: 12px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
#cardpicker {
  width: 80px;
}

.terms-select {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  width: 20%;
  color: rgb(206, 39, 126);
  border-bottom: none;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.inner-recurrency {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* inputs */
.booking-input {
  border-radius: 2cm;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(159, 164, 170);
}

.cleaning-type-select {
  border-radius: 2cm;
  margin-left: 130px;
  margin-right: 130px;
}

.form-container .form-control {
  border-radius: 1cm;
  padding: 6px 12px;
  opacity: 0.7;
  border-color: rgb(107, 106, 106);
  border-width: 2px;
}
.form-container .form-control:focus {
  border-color: rgb(163, 161, 161);
}
.form-container .form-group {
  padding-top: 30px;
  // padding: 0 auto;
  width: 100%;
  margin: 0 auto;
}

.form-container .form-control::placeholder {
  font-size: 13px;
}
 .form-control.text_area {
   border-radius: 0.5cm !important;
}

.custom-select {
  border-color: rgb(166, 166, 166);
  border-width: 2px;
}

.booking select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  width: 208px;
  height: 62px;
  border-radius: 2cm !important;
}
.booking .parts-form select {
  width: 100% !important;
  border-radius: 2cm !important;
}
.additional_information {
  margin: 0 auto;
}

.map_input {
  width: 100%;
}

.marker {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booking h3 {
  font-size: 37px;
  color: #fff;
  font-weight: 500;
}
h3#subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}
span#subtitle {
  font-weight: 700;
}

.text_area {
  padding: 10px;
}

.header-booking.text-center.mx-auto {
  padding-bottom: 33px;
  padding-top: 33px;
  font-weight: 300;
}

.header-extras {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 10px;
  font-size: 25px !important;
  text-align: center;
  color: rgb(159, 164, 170) !important;
}

.footer-header {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 70px;
  font-weight: 300px;
  color: rgb(206, 39, 126);
  margin-top: 50px;
}
.errors {
  font-size: 8px;
  color: red;
  padding-bottom: 16px;
}

.inner-header {
  justify-content: center;
  margin-top: -10px;
  font-size: 10px;
  color: rgb(163, 161, 161);
}

.payment_label {
  color: rgb(200, 53, 140);
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.p_label {
  color: rgb(200, 53, 140);
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

._label {
  color: rgb(200, 53, 140);
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 10px;
}

.booking_label {
  color: rgb(200, 53, 140);
  font-size: 30px;
  padding-top: 10px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.inner_labels {
  color: rgb(159, 164, 170);
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
}

.divider {
  height: 2px;
  width: 100%;
  background: rgba(202, 201, 201, 0.7);
  /* padding: 20px; */
  top: 10px;
  //position: absolute;

}

.radion-inline {
  margin: 10px;
}

span#addition_amount {
  color: rgb(230, 69, 168);
}
span#discount_amount {
  color: rgb(230, 69, 168);
}
span#total_amount {
  color: rgb(230, 69, 168);
}
span#subtotal_amount {
  color: black;
}

.datepicker {
  color: rgb(200, 53, 140) !important;
}

.calendar {
  border: none;
}
.clock {
  border: none;
}

span {
  color: rgb(255, 255, 255);
}

span.input-group-text {
  background-color: rgb(200, 53, 140);
  border-style: none;
  // padding-left: 0;
}

/* images */
.booking-img {
  padding-bottom: 0.5cm;
}

/* buttons */
.booking .btn-primary {
  width: auto;
}

.btn-primary {
  color: #fff;
  background-color: rgb(247, 241, 246);
  border-color: #ffffff;
}
#contactSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

#removeSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

#bookingSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.calendar-btn {
  height: 38px;
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
  border-color: none;
}

div#bathroompicker {
  width: 120px;
  // background-color: red;
}

/* Map */
.map-display {
  border: 5px solid rgba(255, 255, 255, .5);
}

/** Credit Card **/
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background: linear-gradient(50deg, #f3c680, hsla(179, 54%, 76%, 1));
}

/*--------------------
Buttons
--------------------*/
.btn {
  background: rgb(200, 53, 140);
  color: hsl(0, 0, 100);
  text-decoration: none;
  // margin: 20px 0;
  // padding: 15px 15px;
  // border-radius: 5px;
  position: relative;
}
.btn:hover {
  background: rgb(165, 17, 106);
}

.credit-card-row {
  // padding: 10px;
  height: auto;
  // width: 100%;
}

.credit-card {
  //padding-top: 5px;
  margin-top: 25px;
  height: auto;
  width: 100%;
  min-width: 314px;
}

/*--------------------
Form
--------------------*/
.input-cart-number {
  width: 70px;
  text-align: center;
  border-radius: 1cm;
}



input#card-holder {
  border-radius: 1cm;
}

input#card-ccv {
  border-radius: 1cm;
}

select#card-expiration-month {
  border-radius: 1cm;
}

select#card-expiration-year {
  border-radius: 1cm;
}

// .form {
//   padding: 20px;

//   position: relative;
//   right: 20px;

//   fieldset {
//     border: none;
//     padding: 10px;
//     padding: 10px 0;
//     position: relative;
//     clear: both;

//     &.fieldset-expiration {
//       float: left;
//       width: 60%;

//       & .select {
//         width: 84px;
//         margin-right: 12px;
//         float: left;
//       }
//     }

//     &.fieldset-ccv {
//       clear: none;
//       float: right;
//       width: 86px;
//     }

//     label {
//       display: block;
//       font-size: 11px;
//       color: hsla(0, 0, 0, 0.6);
//       margin-bottom: 5px;
//       font-weight: bold;
//       font-family: "RobotoSlab-Light";
//     }

//     input,
//     .select {
//       width: 100%;
//       height: 38px;
//       color: hsl(0, 0, 20);
//       padding: 10px;
//       border-radius: 5px;
//       font-family: "RobotoSlab-Light";
//       font-size: 15px;
//       outline: none !important;
//       border: 1px solid hsla(0, 0, 0, 0.3);
//       box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);

//       &.input-cart-number {
//         width: 82px;
//         margin: 10px;
//         display: inline-block;

//         &:last-child {
//           margin-right: 0;
//         }
//       }
//     }

//     .select {
//       position: relative;

//       &::after {
//         content: "";
//         border-top: 8px solid #222;
//         border-left: 4px solid transparent;
//         border-right: 4px solid transparent;
//         position: absolute;
//         z-index: 2;
//         top: 14px;
//         right: 10px;
//         pointer-events: none;
//       }

//       select {
//         appearance: none;
//         position: absolute;
//         padding: 0;
//         border: none;
//         width: 100%;
//         outline: none !important;
//         top: 6px;
//         left: 6px;
//         background: none;

//         :-moz-focusring {
//           color: transparent;
//           text-shadow: 0 0 0 #000;
//         }
//       }
//     }
//   }

//   button {
//     width: 100%;
//     outline: none !important;
//     background: linear-gradient(135deg, #bd67a0, #a71c6d);
//     text-transform: uppercase;
//     font-weight: bold;
//     border: none;
//     box-shadow: none;
//     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
//     margin-top: 90px;

//     & .fa {
//       margin-right: 6px;
//     }
//   }
// }

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 150px 30px;
  position: relative;
  left: 30px;
  width: 360px;
  background: transparent;
  border-radius: 15px;
  padding: 160px 45px 30px;
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  width: 300px;
  height: 140px;
  position: relative;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);

  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    width: 300px;
    height: 180px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #bd67a0, #a71c6d);
    position: absolute;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
      background-size: cover;
      opacity: 0.05;
    }
  }

  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 60px;

    svg {
      width: 100%;
      height: auto;
      fill: #fff;
    }
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);

    .logo {
      top: 185px;
    }
  }

  .chip {
    position: absolute;
    width: 35px;
    height: 27px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, hsl(269, 54%, 87%) 0%, hsl(200, 64%, 89%) 44%, hsl(18, 55%, 94%) 100%);
    border-radius: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid hsla(0, 0, 50, 0.1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
    }
  }

  .strip {
    background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
    position: absolute;
    width: 100%;
    height: 30px;
    top: 30px;
    left: 0;
  }

  .number {
    position: absolute;
    margin: 0 auto;
    top: 57px;
    left: 50px;
    font-size: 17px;
  }


  .card-holder,
  .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 110px;
    left: 19px;
    font-size: 13px;
    text-transform: capitalize;
  }

  .card-holder-lastname {
    position: absolute;
    margin: 0 auto;
    top: 138px;
    left: 109px;
    font-size: 13px;
    text-transform: capitalize;
  }

  .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }

  .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: right;
    // padding: 10px;

    label {
      margin: -25px 0 14px;
      color: #fff;
    }
  }
}

/****Extra Services Styles****/

body {
  background: rgb(230, 69, 168);
}

.toggle-button {
  position: relative;
}
.toggle-button input[type="checkbox"] {
  position: absolute;
  opacity: 0;

  cursor: pointer;
}
.toggle-button span {
  width: 60px;
  height: 60px;

  background: #ffffff;
  display: flex;
  justify-content: center;

  align-items: center;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 1cm;

  // transition: 0.5s;

  font-size: 30px;

  color: #222;

  cursor: pointer;
}
.toggle-button input[type="checkbox"]:checked ~ span .span-img1 {
  // background:rgb(209, 26, 120);
  background: url(src/assets/images/icon-service1-hover.png) no-repeat;
  // background-position: center;
  background-size: cover;
  border: 3px solid white;
  // background-color: rgb(200, 53, 140);

  // box-shadow: 0 0 10px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             inset  0 0 20px rgba(209,26,120,.9);
  color: #fff;
}

.toggle-button input[type="checkbox"]:checked ~ span .span-img2 {
  // background:rgb(209, 26, 120);
  background: url(src/assets/images/icon-service2-hover.png) no-repeat;
  // background-position: center;
  background-size: cover;
  border: 3px solid white;
  // background-color: rgb(200, 53, 140);

  // box-shadow: 0 0 10px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             inset  0 0 20px rgba(209,26,120,.9);
  color: #fff;
}

.toggle-button input[type="checkbox"]:checked ~ span .span-img3 {
  // background:rgb(209, 26, 120);
  background: url(src/assets/images/icon-service3-hover.png) no-repeat;
  // background-position: center;
  background-size: cover;
  border: 3px solid white;
  // background-color: rgb(200, 53, 140);

  // box-shadow: 0 0 10px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             inset  0 0 20px rgba(209,26,120,.9);
  color: #fff;
}

.toggle-button input[type="checkbox"]:checked ~ span .span-img4 {
  // background:rgb(209, 26, 120);
  background: url(src/assets/images/icon-service4-hover.png) no-repeat;
  // background-position: center;
  background-size: cover;
  border: 3px solid white;
  // background-color: rgb(200, 53, 140);

  // box-shadow: 0 0 10px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             inset  0 0 20px rgba(209,26,120,.9);
  color: #fff;
}

.toggle-button input[type="checkbox"]:checked ~ span .span-img5 {
  // background:rgb(209, 26, 120);
  background: url(src/assets/images/icon-service5-hover.png) no-repeat;
  // background-position: center;
  background-size: cover;
  border: 3px solid white;
  // background-color: rgb(200, 53, 140);

  // box-shadow: 0 0 10px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             0 0 20px rgba(209,26,120,.9),
  //             inset  0 0 20px rgba(209,26,120,.9);
  color: #fff;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.policy-checkbox {
  background: rgb(230, 69, 168);
  color: white;
}

//   position: absolute;
//   background-color: white;

//   .ngb-dp-header {
//       background-color: rgb(179, 52, 191);
//   }

//   select {
//       background-color: rgb(115, 191, 52);
//       color: white;
//   }
// }

//Responsive Design:

@media (max-width: 1200px) {
  .booking {
    width: 100%;
  }
  .booking-container {
    height: auto;
  }
  .booking-container2 {
    height: auto;
  }
  .form-container {
    width: 100%;
    padding: 5%;
  }
  .credit-card {
    padding-top: 5%;
  }
  .card-box {
    height: auto;
    padding-left: 1%;
  }
}
@media (max-width: 900px) {
  .booking {
    background-size: 200%;
    background-position: top left;
  }
  .datepicker-container {
    display: flex;
    #datepicker {
      width: 100%;
    }
  }
  .timepicker-container {
    display: flex;
    #timepicker {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .cleaning-type-select {
    margin: 0;
  }
  .payment {
    z-index: 1000;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    height: 140px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-top: rgb(206, 39, 126) solid;
  }
  .payment_label {
    display: none !important;
  }
  .payment .inner_labels {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .payment .inner_labels label {
    margin-bottom: 0;
  }
  .booking-container2 .divider:first-child {
    display: none;
  }
}
