<!-- booking
    ================================================== -->

    <div class="booking" id="booking">
        <div class="container">
          <div class="row">
            <div class="col-12 fullscreen d-flex align-items-center justify-content-center">
              <div class="header-services text-center mx-auto">
                <h3>Welcome <span id="subtitle">{{first_name}}!</span></h3>
                <h3>Choose your cleaning services</h3>
                <h3 id="subtitle">Book Now!</h3>
              </div>
            </div>
            <!--LEFT PANEL-->
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8 left-panel">
              <div class="row booking-row">
                <div class="booking-container">
                  <!--Booking Form-->
                  <div class="form-container">
                      <h1>Contract</h1>
                    <form class="booking-form" (ngSubmit)="f.form.valid" #f="ngForm">
                      <div class="row">
                        <!-- Title
                        <div class="col-12">
                          <label class="booking_label">Booking Form</label>
                        </div> -->
      
                        <!--Map Row-->
                        <!--Map-->
                        <div class="row form-group" style="width: 100%">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 parts-form marker">
                            <div class="input-group map_input">
                              <span class="">
                                <div class="input-group-append span-img" style="margin: 8px;">
                                  <img src="./assets/images/marker.png" alt="" class="" width="15px" height="20px">
                                </div>
                              </span>
                              <input type="text" placeholder="Enter your Address" class="form-control" id="place" #search
                                [formControl]="searchControl" autocomplete="on" autocapitalize="off" spellcheck="off"
                                required>
                            </div>
                          </div>
                          <!--Apartment Input-->
                          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 parts-form">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control" id='apt-input' placeholder="Apt #"
                                  [(ngModel)]="form.apartment_number" name='apartment_number'>
                              </div>
                              <div class="errors">(* optional)</div>
                            </div>
                          </div>
                        </div>
      
                        <!--Map Display-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center map-display">
                          <agm-map class="map" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true"
                            [zoom]="zoom" style="height: 300px; width: 100%" [usePanning]="true">
                            <agm-marker *ngFor="let latlong of latlongs" [latitude]="latlong.latitude"
                              [longitude]="latlong.longitude"></agm-marker>
                          </agm-map>
                        </div>
      
                           <!--Zone Input-->
                           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                            <div class="form-group zonepicker-container">
                              <div class="input-group" id="zone-input">
                                <input type="text" class="form-control" id='input' placeholder="Zone" [(ngModel)]="form.city"
                                  name='city' value="{{city}}" required readonly>
                              </div>
                            </div>
                          </div>
                          <!--State Input-->
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                            <div class="form-group statepicker-container">
                              <div class="input-group" id="state-input">
                                <input type="text" class="form-control" id='input' placeholder="State" [(ngModel)]="form.state"
                                  name='state' value="{{state}}" required readonly>
                              </div>
                            </div>
                          </div>
                        <!--Cleaning Type-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                          <div class="form-group">
                            <div class="input-group">
                              <select class="custom-select cleaning-type-select" style="text-align-last: center"
                                (change)="calculatePayment()" [(ngModel)]="form.cleaning_type" #cleaning_type="ngModel"
                                name="cleaning_type" id="cleaning_type" required>
                                <option value="Standard Cleaning">Standard Cleaning</option>
                                <option value="Deep Cleaning">Deep Cleaning</option>
                                <option value="Move in-out Cleaning">Move In/Out Cleaning</option>
                                <option value="Post Construction Cleaning">Post-Construction Cleaning</option>
                              </select>
                            </div>
                            <small style="color: red" *ngIf='cleaning_type.touched && !cleaning_type.valid'>
                              Cleaning Type Required
                            </small>
                          </div>
                        </div>
      
                        <!--Datepicker-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                          <div class="form-group datepicker-container">
                            <div class="input-group" id="datepicker">
                              <input (click)="d.toggle()" class="custom-select" placeholder="Pick a Date" value="minDate"
                                name="dp" [minDate]="minDate" (dateSelect)="onSelect($event)" [(ngModel)]="form.date"
                                ngbDatepicker #d="ngbDatepicker" autocomplete="off" readonly>
                              <span>
                                <button class="btn calendar-btn" (click)="d.toggle()" type="button"><i
                                    class="fa fa-calendar"></i></button></span>
                            </div>
                          </div>
                        </div>
                        <!--Time Picker-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                          <div class="form-group timepicker-container">
                            <div class="input-group" id="timepicker">
                              <select class="custom-select" [(ngModel)]="form.available_time" name="available_time"
                                id="timeSelect" #available_time="ngModel" required>
                                <option *ngFor='let hour of hours' [value]="hour">
                                  {{hour}}
                                </option>
                              </select>
                              <span style="border-radius: 0px 5px 5px 0px" class="input-group-text clock"><i
                                  class="fa fa-clock-o clock"></i></span>
                              <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                                *ngIf='available_time.touched && !available_time.valid'>
                                Pick an hour
                              </small>
                            </div>
                          </div>
                        </div>
                        <!--loader-->
                        <div style="padding-top: 10px" class="Loading col-12" *ngIf="hourLoading">
                          <img style="margin-right: 10px;" src="./assets/images/loading2.gif" alt=""
                            class="img-fluid service_img" width="35px" height="35px">
                          <label>Loading Available Hours...</label>
                        </div>
                        <!--Extra Services-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="header-extras">
                            <label class="p_label">Extras</label>
                          </div>
                        </div>
      
      
                        <!--Extra 1-->
                        <div class="col parts-form extra-services">
                          <label class="toggle-button">
                            <input type="checkbox" name="checkbox1" [checked] = "selectedExtraValues['Inside Cabinets']"
                              (change)="getSelectedExtrasValue('Inside Cabinets')" value="Inside Cabinets" />
                            <span class="input-group-text">
                              <div class="input-group-append span-img1">
                                <img src="./assets/images/icon-service1.png" alt="" class="" width="60px" height="60px">
                              </div>
                            </span>
                          </label>
                          <div class="inner-header">
                            <p>Inside<br>Cabinets</p>
                          </div>
                        </div>
                        <!--Extra 2-->
                        <div class="col parts-form extra-services">
                          <label class="toggle-button">
                            <input type="checkbox" [checked] = "selectedExtraValues['Inside Fridge']" (change)="getSelectedExtrasValue('Inside Fridge')" value="Inside Fridge" />
                            <span class="input-group-text">
                              <div class="input-group-append span-img2">
                                <img src="./assets/images/icon-service2.png" alt="" class="" width="60px" height="60px">
                              </div>
                            </span>
                          </label>
                          <div class="inner-header">
                            <p>Inside<br>Fridge</p>
                          </div>
                        </div>
                        <!--Extra 3-->
                        <div class="col parts-form extra-services">
                          <label class="toggle-button">
                            <input type="checkbox" [checked] = "selectedExtraValues['Inside Oven']"  (change)="getSelectedExtrasValue('Inside Oven')" value="Inside Oven" />
                            <span class="input-group-text">
                              <div class="input-group-append span-img3">
                                <img src="./assets/images/icon-service3.png" alt="" class="" width="60px" height="60px">
                              </div>
                            </span>
                          </label>
                          <div class="inner-header">
                            <p>Inside<br>Oven</p>
                          </div>
                        </div>
                        <!--Extra 4-->
                        <div class="col parts-form extra-services">
                          <label class="toggle-button">
                            <input type="checkbox" [checked] = "selectedExtraValues['Laundry Wash_Dry']" (change)="getSelectedExtrasValue('Laundry Wash_Dry')"
                              value="Laundry Wash_Dry" />
                            <span class="input-group-text">
                              <div class="input-group-append span-img4">
                                <img src="./assets/images/icon-service4.png" alt="" class="" width="60px" height="60px">
                              </div>
                            </span>
                          </label>
                          <div class="inner-header">
                            <p>Laundry<br>Wash & Dry</p>
                          </div>
                        </div>
                        <!--Extra 5-->
                        <div class="col parts-form extra-services">
                          <label class="toggle-button">
                            <input type="checkbox" [checked] = "selectedExtraValues['Interior Windows']" (change)="getSelectedExtrasValue('Interior Windows')"
                              value="Interior Windows" />
                            <span class="input-group-text">
                              <div class="input-group-append span-img5">
                                <img src="./assets/images/icon-service5.png" alt="" class="" width="60px" height="60px">
                              </div>
                            </span>
                          </label>
                          <div class="inner-header">
                            <p>Interior<br>Windows</p>
                          </div>
                        </div>
      
      
                        <!--Additional Information-->
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text-area">
                          <textarea class="form-control text_area" name="additional_information" rows="3"
                            placeholder="Additional Information" [(ngModel)]="form.additional_information"
                            name="message"></textarea>
                        </div>
      
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="divider">
                            <h5></h5>
                          </div>
                        </div>
      
                        <!--CREDIT CARD SECTION-->
                        <!--Credit Card Form-->
                        <div class="row credit-card-row justify-content-center">
                          <div class="card-box col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 justify-content-center">
                            <!--Credit Card Box-->
      
                            <div class="credit-card-box ">
                              <div class="flip">
                                <div class="front">
                                  <div class="chip"></div>
                                  <div class="logo">
                                    <img src="./assets/images/SUEEP-LOGO.svg" width="45px" height="45px" alt=""
                                      class="img-fluid">
                                  </div>
                                  <div class="number"></div>
                                  <div class="card-holder">
                                    <label>Card Holder</label>
                                    <div></div>
                                  </div>
                                  <div class="card-holder-lastname">
                                    <div></div>
                                  </div>
                                  <div class="card-expiration-date">
                                    <label>Expires</label>
                                    <div></div>
                                  </div>
                                </div>
                                <div class="back">
                                  <div class="strip"></div>
                                  <div class="ccv">
                                    <label>CCV</label>
                                    <div></div>
                                  </div>
                                </div>
                              </div>
                            </div>
      
                            <!--Credit Card Box Ends-->
                          </div>
                          <!--Credit Card Form-->
                          <div class="credit-card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 justify-content-center">
      
                            <!--Number inputs-->
                            <div class="form-group">
                              <div class="input-group">
                                <input type="tel" id="card-number" placeholder="card number" #number1="ngModel"
                                  [(ngModel)]="form.number1" name="number1" class="input-cart-number form-control"
                                  maxlength="25" required />
                                <span class="">
                                  <div class="input-group-append span-img" style="margin: 8px;">
                                    <img src="./assets/images/lock.png" alt="" class="" width="15px" height="15px">
                                  </div>
                                </span>
                              </div>
                            </div>
                            <!--Card Holder-->
                            <div class="form-group" style="padding-right: 30px">
                              <div class="input-group">
                                <input type="text" id="card-holder" [(ngModel)]="form.card_holder" name="card_holder"
                                  placeholder="First Name" class="input-card_holder form-control" maxlength="15" required />
                                <input type="text" id="card-holder-lastname" [(ngModel)]="form.card_holder_lastname"
                                  name="card_holder-lastname" placeholder="Last Name" class="input-card_holder form-control"
                                  maxlength="15" required />
                              </div>
                            </div>
                            <!--Exp. Date-->
                            <div class="row" style="padding-right: 30px">
                              <!--Month-->
                              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group exp-date">
                                  <div class="input-group select" id="cardpicker">
                                    <select class="custom-select month" [(ngModel)]="form.month" name="month"
                                      id="card-expiration-month" required>
                                      <option></option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                      <option value="4">04</option>
                                      <option value="5">05</option>
                                      <option value="6">06</option>
                                      <option value="7">07</option>
                                      <option value="8">08</option>
                                      <option value="9">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <!--Year-->
                              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group exp-date">
                                  <div class="input-group select" id="cardpicker">
                                    <select class="custom-select" [(ngModel)]="form.year" name="year"
                                      id="card-expiration-year" required>
                                      <option></option>
                                      <option>2019</option>
                                      <option>2020</option>
                                      <option>2021</option>
                                      <option>2022</option>
                                      <option>2023</option>
                                      <option>2024</option>
                                      <option>2025</option>
                                      <option>2026</option>
                                      <option>2027</option>
                                      <option>2028</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <!--CCV-->
                              <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 text-center">
                                <div class="form-group">
                                  <div class="input-group">
                                    <input class="form-control" type="tel" [(ngModel)]="form.CCV" name="CCV" placeholder="CCV"
                                      id="card-ccv" minlength="3" maxlength="4" required />
                                  </div>
                                </div>
                              </div>
                            </div>
      
      
                          </div>
                          <!--Credit Card Form End-->
                        </div>
                        <!--CREDIT CARD SECTION ENDS-->
                        <!--Terms and Recurreny
                        <div class="col-12 recurrency">
                          <div class="inner-recurrency">
                            <p style="margin-top: 10px; margin-right: 5px" class="black inner-text-policy">I want to
                              receive notifications</p>
                            <mat-form-field style="margin-left: 5px" class="terms-select">
                              <select [(ngModel)]="form.recurrency" name="recurrency" #recurrency="ngModel" matNativeControl
                                required>
                                <option value="never">Never</option>
                                <option value="weekly">Weekly</option>
                                <option value="biweekly">Biweekly</option>
                                <option value="monthly">Monthly</option>
                              </select>
                            </mat-form-field>
                          </div>
                        </div>-->
                        <!--policy-->
                        <div style="margin-top: 10px" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 parts-form">
                          <div class="form-group policy-container">
                            <div class="input-group" id="policy-input">
                              <p class="float-left black inner-text-policy" for="policy">
                                <input style="margin-right: 10px;" [(ngModel)]="form.agreement" name="agreement"
                                  type="checkbox" class="policy-checkbox" checked id="policy">By clicking, I
                                understand that I am purchasing a recurring service subject to Sueep's Terms of Use and
                                Cancellation
                                Policy and my payment method will be charged before each booking.</p>
                              {{form.agreed}}
                            </div>
                          </div>
                        </div>
                        <!--Payment Button-->
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 bookingSubmit justify-content-center">
                          <button type="submit" id="bookingSubmit" class="btn btn-primary"
                            [disabled]="!f.valid || !form.agreement" (click)="sendQuote()">Pay Now</button>
                          <div style="margin-bottom: 10px" class="loading" *ngIf="loading">
                            <img src="./assets/images/loading2.gif" alt="" class="img-fluid service_img" width="40px"
                              height="40px">
                          </div>
                        </div>
      
                      </div>
                    </form>
                  </div>
                  <!--Contact Form Section-->
                </div>
              </div>
            </div>
            <!--RIGHT PANEL-->
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 right-panel">
              <div class="">
                <div class="booking-container2">
      
                  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 payment">
                    <div class="">
                      <label class="payment_label">Payment</label>
                    </div>
                    <div class="inner_labels">
                      <div class="">
                        <label style="font-size: 20px;">Total Amount</label>
                        <span id="total_amount" style="font-size: 20px; float: right">$ {{price}}</span>
                      </div>
                      <div class="">
                        <label style="font-size: 20px;">Additional Amount</label>
                        <span id="addition_amount" style="font-size: 20px; float: right">$ {{extra_amount}}</span>
                      </div>
                      <!-- <div class="">
                        <label style="font-size: 20px;">Discount Amount</label>
                        <span id="discount_amount" style="font-size: 20px; float: right">$ {{discount_amount}}</span>
                      </div> -->
                      <div class="form-group">
                        <label class="_label" style="padding: 0; font-size: 30px;">Total</label>
                        <span style="font-size: 30px; color: rgb(200, 53, 140); float: right">${{subtotal_amount}}</span>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="divider">
                        <h5></h5>
                      </div>
                    </div>
                  </div>
      
                  <!--  <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label class="_label">Promo Code <span
                          style="font-size: 15px; color: rgb(200, 53, 140);">(optional)</span></label>
                    </div>
      
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 parts-form">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" id='promo_code' placeholder="Enter Code"
                            [(ngModel)]="form.promo_code" name='promo_code' required>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 removeSubmit">
                      <button type="submit" id="removeSubmit" (click)="checkPromoCode()"
                        class="btn btn-primary">Enter</button>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="divider">
                        <h5></h5>
                      </div>
                    </div>
                  </div>
       -->
                  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="text-align: left">
                    <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <label style="text-align: left"  class="p_label">Questions</label>
                    </div>
                    <mat-accordion>
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                          How many Sueepers will come to do the cleaning?
                        </mat-expansion-panel-header>
                        <p class="inner-accordion-text">We assign two cleaners per job in order to be more efficient and
                          complete the service much faster. On special occasions and depending the scope of the project we may
                          assign a bigger team to clean.</p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                          How long should my cleaning be?
                        </mat-expansion-panel-header>
                        <p class="inner-accordion-text">Our cleanings range from 2-4 hours with an average time of 3 hours.
                          Since we assign two Sueepers this means an average of 6 cleaning hours that you receive. .</p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                          Will my Sueepers bring their own cleaning supplies?
                        </mat-expansion-panel-header>
                        <p class="inner-accordion-text">Yes, our team of Sueepers will bring their own cleaning equipment and
                          supplies to complete the task. Although you can communicate any specific liquids or equipment that
                          you may need and we will do our best to assist you.</p>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
      
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="divider">
                        <h5></h5>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <label class="p_label">Here's Why Sueep is Different...</label>
                    </div>
      
                    <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 parts-form service-img">
                        <img src="./assets/images/clean1.png" alt="" class="img-fluid service_img" width="50px" height="50px">
                      </div>
                      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                        <p class="inner-text">Customer support at your disposal to assist you with your cleaning needs and
                          immediately address any issues that may arise </p>
                      </div>
                    </div>
                    <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 parts-form service-img">
                        <img src="./assets/images/clean2.png" alt="" class="img-fluid service_img" width="50px" height="50px">
                      </div>
                      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                        <p class="inner-text">20 years of cleaning experience and highly qualified cleaning staff. All of our
                          Sueepers undergo a rigorous background check and intense cleaning training </p>
                      </div>
                    </div>
                    <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 parts-form service-img">
                        <img src="./assets/images/clean3.png" alt="" class="img-fluid service_img" width="50px" height="50px">
                      </div>
                      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                        <p class="inner-text">Prompt and efficient cleaning. We assign two cleaners per job that will come to
                          your property and leave it spotless in a short period of time</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="subtitle"
            class="footer-header text-center mx-auto col-12 fullscreen d-flex align-items-center justify-content-center">
            <h1 id="subtitle">Thanks for Trusting Us!!</h1>
          </div>
        </div>
      </div>
      <!-- booking-end
                      ================================================== -->
      
      
      <!-- Global site tag (gtag.js) - Google Ads: 796096462 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-796096462"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
      
        gtag('config', 'AW-796096462');
      </script>
      