/**************about us*******************/
.about {
  padding-top: 100px;
  background-color: rgb(251, 250, 250);
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 80px;

}
.paragraph-container {
  display: flex;
  justify-content: flex-start;
}

.about-paragraph {
  text-align: left;
}

span {
  font-style: oblique;
  font-weight: 700;
}

.heading {
  color: #2c333c;
  font-weight: 400;
  font-size: 42px;
}
h5.small_content {
  line-height: 1.7;
  font-size: 23px;
  color: 2c333c;
  color: #2c333c;
  font-weight: 300;
}
.about-content {
  position: absolute;
  top: 27%;
  width: 86%;
  padding-left: 39px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;

}
.image-container {
  display: flex;
  justify-content: flex-end;
}

.about-img {
  padding-top: 30px;
}

.about-img img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}


/*Responsive Design*/
@media (max-width: 320px) {
  .about {
    padding-top: 20px;
  }

  .about-container {
    padding: 0;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .about {
   padding: 0 auto;
   background-color: rgb(251, 250, 250);
   margin: 0 auto;
   display: flex;
   height: 100%;
  }
  .about-container {
    padding: 0;
  }
  .container-fluid{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
  }
  .about-content {
    background-color: rgb(251, 250, 250);
    width: 100%;
    padding: 10%;
  }
}
