<div class="about" id="about">
  <div class="container-fluid">
    <div class="row about-container">
      <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 image-container">
        <div class="about-img">
          <img src="./assets/images/ABOUT_IMG.svg" alt="" class="img-fluid about-img">
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 p-0 paragraph-container" id="paragraph-container">
        <div class="about-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parts-form service-img">
            <img src="./assets/images/ABOUT.png" alt="" class="img-fluid about_img" width="490px" height="490px">
          </div>
          <div class="about-paragraph">
            <h3 class="heading"></h3> <span>Sueep Cleaning LLC </span> is a family owned business that provides
            professional
            cleaning solutions in the Philadelphia, New Jersey and Los Angeles areas. Our team is composed of cleaning
            professionals with over 10 years of experience in the industry.
          </div>
        </div>
      </div>
    </div>
  </div>
