.faq,
html {
  padding-top: 100px;
  // padding-bottom: 300px;
  position: relative;
  top: 0;
  width: 100%;
  background: url(src/assets/images/MAIN-BG.png) no-repeat center;
  background-size: 100%;
  background-position: top center;
  height: auto;
  background-color: rgb(241, 241, 241);
}

.faq-container {
  // background: url(src/assets/images/SERVICE-CONT.png) no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 2cm;
  text-align: center;
  margin: 0 auto;
  background-position: top center;
  height: auto;
  width: 800px;
  align-items: center;
}

div.faq-container:before {
  content: "";
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 195px;
  border-radius: 26px;
  transition: rotate(45deg);
  transform: rotate(45deg);
  transition: rotate(45deg);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.inner-container {
  margin: 90px;
}

.form-container {
    // padding-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 550px;
  }
  
  /** Body Containers Styles Ends **/
 
  .faq h3 {
    font-size: 37px;
    color: #fff;
    font-weight: 500;
  }
  
  mat-expansion-panel {
    padding-top: 20px;
  }

  .accordion-header {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 53, 140);
  }
  
  p.inner-accordion-text {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(159, 164, 170);
    text-align: justify;
  }
  
  p.inner-text {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(200, 53, 140);
    text-align: justify;
    font-size: 10px;
  }
  p.inner-text-policy {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(200, 53, 140);
    text-align: center;
    font-size: 12px;
  }
  
  .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  .mat-expansion-indicator::after {
    color: rgb(200, 53, 140) !important;
  }
  
  //*** Form Fields Styles Ends ***//
  
  .header-services.text-center.mx-auto {
    padding-bottom: 33px;
    padding-top: 33px;
  }
  .btn-primary {
    color: #fff;
    background-color: rgb(247, 241, 246);
    border-color: #ffffff;
  }
  
  /*Responsive Design*/
  @media (max-width: 320px) {
    .commercial {
      // padding: 5%;
      padding-top: 120px;
      background: none;
      background: url(src/assets/images/MAIN-BG.png) no-repeat;
      background-size: cover;
      background-position: top center;
      background-color: rgb(241, 241, 241);
      // margin: 0 auto;
      display: flex;
      height: 90%;
    }
    .commercial-container {
      width: 100%;
      height: auto;
    }
    div.commercial-container:before {
      content: "";
      width: 80px;
      height: 80px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 360px;
      border-radius: 26px;
      transition: rotate(45deg);
      transform: rotate(45deg);
      transition: rotate(45deg);
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .form-container {
      width: 100%;
    }
    .map {
      width: 100%;
    }
    .datepicker-container {
      display: flex;
      #datepicker {
        width: 100%;
      }
    }
    .timepicker-container {
      display: flex;
      #timepicker {
        width: 100%;
      }
    }
  }
  
  @media (min-width: 321px) and (max-width: 767px) {
    .commercial {
      // padding: 5%;
      padding-top: 120px;
      background: none;
      background: url(src/assets/images/MAIN-BG.png) no-repeat;
      background-size: cover;
      background-position: top center;
      background-color: rgb(241, 241, 241);
      // margin: 0 auto;
      display: flex;
      height: 90%;
    }
    .commercial-container {
      width: 100%;
      height: auto;
    }
    div.commercial-container:before {
      content: "";
      width: 80px;
      height: 80px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 310px;
      border-radius: 26px;
      transition: rotate(45deg);
      transform: rotate(45deg);
      transition: rotate(45deg);
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .form-container {
      width: 100%;
    }
    .map {
      width: 100%;
    }
    .datepicker-container {
      display: flex;
      #datepicker {
        width: 100%;
      }
    }
    .timepicker-container {
      display: flex;
      #timepicker {
        width: 100%;
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .commercial {
      // padding: 5%;
      padding-top: 120px;
      background: none;
      background: url(src/assets/images/MAIN-BG.png) no-repeat;
      background-size: cover;
      background-position: top center;
      background-color: rgb(241, 241, 241);
      // margin: 0 auto;
      display: flex;
      height: 90%;
    }
    .commercial-container {
      width: 100%;
      height: auto;
    }
    div.commercial-container:before {
      content: "";
      width: 80px;
      height: 80px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 265px;
      border-radius: 26px;
      transition: rotate(45deg);
      transform: rotate(45deg);
      transition: rotate(45deg);
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .form-container {
      width: 100%;
    }
    .map {
      width: 100%;
    }
  
  }
  
  @media (min-width: 1024px) and (max-width: 1100px) {
    .commercial-container {
      width: 100%;
      height: 1100px;
    }
    .map {
      width: 100%;
    }
  }
