<div class="faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-12 fullscreen d-flex align-items-center justify-content-center">
        <div class="header-services text-center mx-auto">
          <h3>FAQ</h3>
        </div>
      </div>
    </div>
    <div class="faq-container d-flex justify-content-center">
      <div class="row fullscreen d-flex justify-content-center faq-form">
        <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 inner-container">
          <mat-accordion class="accordion">
            <!--1-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon1.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  1. How many Sueepers are assigned to me?
                  <br>
                  Will they bring their own cleaning supplies?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">Sueep is designed so that two Sueepers are the minimum offered for the
                  service unless the job demands otherwise. Sueepers are assigned in terms of their proximity to the job
                  and availability.
                  Sueep cannot guarantee that the same Sueepers will be assigned every time.
                  Sueepers, as user’s contractors, are responsible for obtaining their own cleaning equipment to
                  complete the job.
                  Sueep utilizes a third party to complete background checks for all of Sueepers which is performed at
                  the time of the Sueeper signing up for the service.
                  When an appointment is scheduled, Sueep will offer the task to an available Sueeper.
                  If Sueep is not able to successfully locate a Sueeper to accept the task, then the user will not be
                  charged for that service.
                  Should Sueepers arrive to the cleaning site and notify Sueep that the conditions of the job or
                  location are not safe in any way, Sueep, in its unilateral capacity may cancel the service. The user
                  will still be charged.
                  If the Sueeper asserts additional cleaning time is required, the user will be notified and the payment
                  must occur before extra hours are to be completed. If the user does not agree, the Sueeper will pause
                  the service if they have reached the maximum hours, or only complete the previously established hours.
                  You must allow the Sueeper space to complete the job freely and without any distractions.
                  The Sueeper assumes no liability for damage or loss caused by the negligence of the customer.
                  Sueep does not provide any refunds. We reserve the right to provide a cleaning credit in extenuating
                  situations.
                </p>
              </mat-expansion-panel>
            </div>

            <!--2-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon2.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  2. Am I allowed to directly hire
                  <br>
                  Sueepers that come to my house?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">Sueep prohibits the poaching of Sueepers. Both the user and the Sueeper
                  will be liable for a fee of $3,500 in the event of poaching in consideration of Sueep connecting the
                  Sueeper and long-term client.
                </p>
              </mat-expansion-panel>
            </div>

            <!--3-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon3.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  3. Can I reschedule an appointment?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">If a service needs to be rescheduled, Sueep will deduct the established
                  amount and provide the user with an equivalent cleaning credit.
                  If the user remains inactive for more than 6 months, Sueep will automatically deduct $10 monthly from
                  the credit provided until the user reactivates or the account balance reaches zero, whereupon the
                  account shall be archived and rendered inaccessible unless user directly contacts Sueep by phone or
                  email to reestablish the account.
                  You can reschedule a service free of charge if such arrangement is made 48 hours in advance. You will
                  be charged a late fee of 20% if you reschedule within 48 hours of the service. You will be charged the
                  full amount if you reschedule within 12 hours of the service. All reschedules resulting in possible
                  refunds will result in an equivalent cleaning credit being placed on your account.
                </p>
              </mat-expansion-panel>
            </div>

            <!--4-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon4.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  4. What is Sueep's refund policy ?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">As asserted elsewhere herein, there are no refunds from Sueep. In the
                  alternative, unless otherwise prohibited by state law, an amount shall be refunded as credits.
                  If the user remains inactive for more than 6 months, Sueep will automatically deduct $10 monthly from
                  the credit provided until the user reactivates or the account balance reaches zero, whereupon the
                  account shall be archived and rendered inaccessible unless user directly contacts Sueep by phone or
                  email to reestablish the account.
                </p>
              </mat-expansion-panel>
            </div>

            <!--5-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon5.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  5. What is Sueep's <br> Happiness Guarantee?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">Cancelation section herein, Sueep shall attempt to identify a
                  replacement entity. The cancelling Sueeper shall be held liable for any convenience, rush, or other
                  fees incurred in satisfying this guaranty.
                  If an alternative cleaner cannot be found, the user’s money shall be refunded in full.
                </p>
              </mat-expansion-panel>
            </div>

            <!--6-->
            <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header style="text-align: left" class="accordion-header">
                  <img src="./assets/images/faq_icon6.png" alt="" class="img-fluid service_img" width="50px"
                    height="50px">
                  6. What is Sueep's
                  <br>
                  cancelation policy?
                </mat-expansion-panel-header>
                <p class="inner-accordion-text">If a User decides to cancel an arranged cleaning, they must make such
                  cancellation 48 hours in advance or they will be liable for 25% of the total sum. If such cancellation
                  is within 12 hours of the schedule cleaning, the user shall be liable for 75% of the full amount.
                  Sueepers acknowledge that cancellation would be unprofessional and detrimental. As such, should they
                  cancel, they must either locate a Sueeper who can provide same or similar service, and provide Sueep
                  the opportunity to setup the appointment with the alternative Sueeper. The cancelling Sueeper shall be
                  liable for any extra costs incurred, including if the replacement Sueeper charges a rush fee.
                  A refunded credit may be provided to a user in Sueep’s sole discretion. If the user remains inactive
                  for more than 6 months, Sueep will automatically deduct $10 monthly from the credit provided until the
                  user reactivates or the account balance reaches zero, whereupon the account shall be archived and
                  rendered inaccessible unless user directly contacts Sueep by phone or email to reestablish the
                  account.
                </p>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>