.download,
html {
  padding-bottom: 600px;
  padding-top: 100px;
  background: url(src/assets/images/MAIN-BG.png) no-repeat;
  background-size: cover;
  background-position: top center;
  position: static;
  left: 30px;
}

.header-services {
  color: white;
  position: absolute;
  top: 120px;
  padding-left: 180px;
  padding-bottom: 0%;
}

div.header-services {
  > h1:nth-of-type(1) {
    font-size: 80px;
    font-weight: 300px;
    font-family: "RobotoSlab-Bold";
  }
  > h1:nth-of-type(2) {
    font-size: 80px;
    font-family: "RobotoSlab-Bold";
  }
  > h1:nth-of-type(3) {
    font-size: 80px;
    font-family: "RobotoSlab-Bold";
  }
}

div.links.col-12.mobile-links {
  position: relative;
  top: 360px;
  padding-left: 30px;
}

.links {
  text-align: center;
  position: absolute;
  top: 600px;
  right: 200px;
}

.download-img {
  position: relative;
  height: 600px;
  bottom: 200px;
}

@media screen and (max-width: 360px) {
  .services-container {
    display: none;
  }
}

div.or_devider.text-center.mx-auto {
  > h5 {
    color: black;
  }
}
