<!-- services
    ================================================== -->
<div class="download" id="download">
  <div class="container">
    <div class="row">
      <!--Title-->
      <div class="header-services col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>let's go</h1>
        <h1>to the</h1>
        <h1>application!!</h1>
      </div>
      <!--App Links-->
      <div class="links col-12 mobile-links">
        <img src="./assets/images/ANDROID-IMG.svg" alt="" class="img-fluid service-img" width="200px" height="200px">
        <img src="./assets/images/IOS-IMG.svg" alt="" class="img-fluid service-img" width="220px" height="220px">
      </div>

    </div>

    <!--Download image-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-right">
      <img src="./assets/images/DOWNLOAD-IMG.svg" alt="" class="img-fluid service-img download-img" width="" height="">
    </div>

  </div>
</div>
<!-- download-end
          ================================================== -->
