<div class="airbnb" id="airbnb">
  <div class="container">
    <div class="row">
      <div class="col-12 fullscreen d-flex align-items-center justify-content-center">
        <div class="header-services text-center mx-auto">
          <h3>Choose your cleaning services</h3>
          <h3 id="subtitle">Book Now!</h3>
        </div>
      </div>
    </div>
    <div class="airbnb-container d-flex justify-content-center">
      <div class="form-container" style="padding: 10px;">
        <form class="airbnb-booking" (ngSubmit)="f.form.valid" #f="ngForm">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 text-center">
              <div class="exp_section" data-aos="fade-up">
                <div class="row justify-content-center">
                  <img src="./assets/images/AIRBNB-ICON.png" alt="" width="70px" height="70px">
                  <div class="inner-header">
                    <p>Airbnb<br><span>Cleaning</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 header">
              <p style="margin: 10px;">
                With over 5 years of experience in the Airbnb industry, we understand that Airbnb cleaning goes far
                beyond
                cleaning. Our team is experienced in managing turnover with guests and management of keys.
                <br>
                We will ensure that we fulfill your cleaning and management needs. You can rest assured that our
                reliable team will complete the job
                with consistency and quality.

            </div>
          </div>

          <div class="row fullscreen d-flex align-items-center airbnb-form justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="form.first_name" name="first_name"
                    placeholder="First Name" #first_name="ngModel" required>
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='first_name.touched && !first_name.valid'>
                    First Name Required
                  </small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="form.last_name" name="last_name"
                    #last_name="ngModel" placeholder="Last Name" required>
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='last_name.touched && !last_name.valid'>
                    Last Name Required
                  </small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="email" class="form-control" [(ngModel)]="form.email" name="email"
                    placeholder="Email Address" #email="ngModel" required email>
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='email.touched && !email.valid'>
                    Valid Email Required
                  </small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="form.phone" name="phone"
                    placeholder="Phone Number" #phone="ngModel" required>
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='phone.touched && !phone.valid'>
                    Enter a phone number
                  </small>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control" [(ngModel)]="form.number_rental" name="number_rental"
                    placeholder="Number of rental property" #number_rental="ngModel">
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='number_rental.touched && !number_rental.valid'>
                    Enter a Number of Rental
                  </small>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control" #average_cleaners="ngModel"
                    [(ngModel)]="form.average_cleaners" name="average_cleaners"
                    placeholder="Average Cleaners per Month">
                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='average_cleaners.touched && !average_cleaners.valid'>
                    Enter an average cleaners number
                  </small>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text-area">
              <div class="form-group">
                <textarea class="form-control text_area" name="additional_information" rows="3"
                  placeholder="Additional Information" [(ngModel)]="form.additional_information"
                  name="additional_information"></textarea>
              </div>
            </div>

           <!--Datepicker-->
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group datepicker-container">
              <div class="input-group" id="datepicker">
                <input (click)="d.toggle()" class="custom-select" placeholder="Pick a Date" value="minDate"
                  name="dp" [minDate]="minDate" (dateSelect)="onSelect($event)" [(ngModel)]="form.date"
                  ngbDatepicker #d="ngbDatepicker" autocomplete="off" readonly>
                <span style="border-radius: 0px 5px 5px 0px">
                  <button class="btn calendar-btn" (click)="d.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button></span>
              </div>
            </div>
          </div>
            <!--Time-->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group timepicker-container">
                <div class="input-group time" id="timepicker">
                  <select [(ngModel)]="form.available_time" #available_time="ngModel" name="available_time"
                    class="custom-select" required>
                    <option value="00:00">12:00 AM</option>
                    <option value="01:00">01:00 AM</option>
                    <option value="02:00">02:00 AM</option>
                    <option value="03:00">03:00 AM</option>
                    <option value="04:00">04:00 AM</option>
                    <option value="05:00">05:00 AM</option>
                    <option value="06:00">06:00 AM</option>
                    <option value="07:00">07:00 AM</option>
                    <option value="08:00">08:00 AM</option>
                    <option value="09:00">09:00 AM</option>
                    <option value="10:00">10:00 AM</option>
                    <option value="11:00">11:00 AM</option>
                    <option value="12:00">12:00 PM</option>
                    <option value="13:00">01:00 PM</option>
                    <option value="14:00">02:00 PM</option>
                    <option value="15:00">03:00 PM</option>
                    <option value="16:00">04.00 PM</option>
                    <option value="17:00">05:00 PM</option>
                    <option value="18:00">06:00 PM</option>
                    <option value="19:00">07:00 PM</option>
                    <option value="20:00">08:00 PM</option>
                    <option value="21:00">09:00 PM</option>
                    <option value="22:00">10:00 PM</option>
                    <option value="23:00">11:00 PM</option>
                  </select>
                  <span style="border-radius: 0px 5px 5px 0px" class="input-group-text"><i
                      class="fa fa-clock-o"></i></span>

                  <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf='available_time.touched && !available_time.valid'>
                    Pick an hour
                  </small>
                </div>
              </div>
            </div>


            <!--Map Row-->
            <!--Map-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parts-form marker">
              <div class="input-group map_input">
                <span style="background-color: transparent">
                  <div class="input-group-append span-img" style="margin: 8px;">
                    <img src="./assets/images/marker.png" alt="" class="" width="15px" height="20px">
                  </div>
                </span>
                <input type="text" placeholder="Enter your Address" class="form-control" id="place" #search
                  [formControl]="searchControl" autocomplete="on" autocapitalize="off" spellcheck="off" required>
              </div>
            </div>
            <div style="margin-top: 10px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
              <agm-map class="map" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                style="height: 300px; width: 100%" [usePanning]="true">
                <agm-marker *ngFor="let latlong of latlongs" [latitude]="latlong.latitude"
                  [longitude]="latlong.longitude"></agm-marker>
              </agm-map>
            </div>
            <!--MAP ENDS-->

            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 py-4 airbnbSubmit">
              <button type="submit" id="airbnbSubmit" (click)="sendQuote()" [disabled]="!f.valid"
                class="btn btn-primary">Get
                Quote</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
