/** Body Containers Styles **/

.services,
html {
  padding-top: 100px;
  width: 100%;
  background: url(src/assets/images/MAIN-BG.png) no-repeat center;
  background-color: rgb(251, 250, 250);
  // background-color: rgb(206, 39, 126);
  background-size: cover;
  background-position: bottom;
  height: auto;
}

.services-container {
  // background: url(src/assets/images/SERVICE-CONT.png) no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 2cm;
  padding-top: 10px;
  text-align: center;
  // margin: 0 auto;
  margin-right: 170px;
  margin-left: 170px;
  background-position: top center;
  height: auto;
  width: 750px;
}
.service-row {
  height: auto;
}

.form-container {
  padding-top: 5px;
  margin: 0 auto;
  width: 80%;
}

.buttons-container {
  position: relative;
  top: 110px;
  right: 384px;
  margin: 0 auto;
}

div.services-container:before {
  content: "";
  width: 80px;
  height: 80px;
  display: flex;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 26px;
  transition: rotate(45deg);
  transform: rotate(45deg);
  transition: rotate(45deg);
  top: 145px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.exp_section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.exp_img2 {
  margin-left: -25px;
}

.select-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.services_type {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner-header {
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
}

/** Body Containers Styles Ends **/

.residential-booking {
  margin: auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.services .btn-primary {
  width: auto;
}

.services-page {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 50px;
  margin: auto;
}
.services select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  // height: 1cm;
  border-radius: 1cm !important;
}
.services .parts-form select {
  width: 40% !important;
  border-radius: 1cm !important;
}
.services h3 {
  font-size: 37px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
}
h3#subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

//*** Form Fields Styles ***//
.form-container .form-control {
  border-radius: 1cm;
  padding: 6px 12px;
  opacity: 0.7;
  border-color: rgb(107, 106, 106);
  border-width: 2px;
}
.form-container .form-control:focus {
  border-color: rgb(163, 161, 161);
}
.form-container .form-group {
  padding: 0 auto;
  width: 100%;
  // margin: 0 auto;
  // padding-top: 3px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.form-container .form-control::placeholder {
  font-size: 13px;
}

span.input-group-text {
  background-color: transparent;
  border-style: none;
  // padding-left: 0;
}
div#bathroompicker {
  align-content: right;
}

a {
  color: rgb(206, 39, 126);
}

.errors {
  font-size: 8px;
  color: red;
  padding-bottom: 16px;
}

//*** Form Fields Styles Ends ***//

.header-services.text-center.mx-auto {
  padding-bottom: 33px;
  padding-top: 33px;
}
.btn-primary {
  color: #fff;
  background-color: rgb(247, 241, 246);
  border-color: #ffffff;
}

p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(134, 135, 135);
}

//*** Buttons Styles ***//

button.btn.btn-light.sumButton {
  border-radius: 50%;
  border-color: rgb(159, 164, 170);
  margin-right: 5px;
}
button.btn.btn-light.subsButton {
  border-radius: 50%;
  border-color: black;
  justify-content: center;
}
.bedroom-buttons {
  position: relative;
  top: 4px;
  left: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-radius: 1cm;
  width: 5cm;
  //background-color: aqua;
}

#bookingSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.or-divider {
  position: absolute;
  top: 50px;
  left: 100px;
}

//*** Buttons Styles Ends ***//

// ** Icons and Images **//
.service-img {
  padding-bottom: 0.5cm;
}

.disclaimer {
  font-size: 0.65em;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 2px;
  padding: 20px;
}

.or_devider h5:before {
  color: rgba(255, 255, 255, 0.14);
  content: "";
  height: 1px;
  width: 44%;
  background: #d4c0c045;
  /* padding: 20px; */
  top: 10px;
  position: absolute;
  right: 18px;
}

.or_devider h5:after {
  color: rgba(255, 255, 255, 0.14);
  content: "";
  height: 1px;
  width: 44%;
  background: #d4c0c045;
  /* padding: 20px; */
  top: 10px;
  position: absolute;
  left: 18px;
}

.airbnb-icon {
  padding-left: 70px;
}

.zip-code {
  padding: 0;
}
.select-row {
  padding: 0;
}

div#section09 {
  position: relative;
}

#section09 a span {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 3px solid rgb(206, 39, 126);
  border-radius: 50px;
  box-sizing: border-box;
}

#section09 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: rgb(206, 39, 126);
  border-radius: 100%;
  box-sizing: border-box;
}

#section09 a span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: "";
  margin-left: -9px;
  border-left: 3px solid rgb(206, 39, 126);
  border-bottom: 3px solid rgb(206, 39, 126);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/*Responsive Design*/
@media (max-width: 320px) {
  .services {
    padding: 0 auto;
    background-color: rgb(251, 250, 250);
    margin: 0 auto;
    display: flex;
    height: auto;
    width: 100%;
  }
  .services-container {
    margin: 5%;
  }
  .form-container {
    width: 100%;
  }
  .disclaimer {
    width: 100%;
  }
  div.services-container:before {
    content: "";
    width: 80px;
    height: 80px;
    display: flex;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    top: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  #section09 a span {
    top: 20px;
  }
  .zip-code {
    padding-left: 15px;
    padding-right: 15px;
  }
  .airbnb-icon {
    padding: 0;
  }
  .select-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .services {
    padding: 0 auto;
    background-color: rgb(251, 250, 250);
    margin: 0 auto;
    display: flex;
    height: auto;
    width: 100%;
  }
  .services-container {
    margin: 5%;
  }
  .form-container {
    width: 100%;
  }
  .disclaimer {
    width: 100%;
  }
  div.services-container:before {
    content: "";
    width: 80px;
    height: 80px;
    display: flex;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    top: 210px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .airbnb-icon {
    padding: 0;
  }
  .zip-code {
    padding-right: 15px;
    padding-left: 15px;
  }
  .select-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section09 a span {
    top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .disclaimer {
    width: 100%;
  }
  div.services-container:before {
    content: "";
    width: 80px;
    height: 80px;
    display: flex;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    top: 190px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .zip-code {
    padding-right: 15px;
    padding-left: 15px;
  }
  .select-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
