<!-- services
    ================================================== -->
<div class="services" id="services">
  <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div
        class="col-12 fullscreen d-flex align-items-center justify-content-center"
      >
        <div class="header-services text-center mx-auto">
          <h3>Choose your cleaning services</h3>
          <h3 id="subtitle">Book Now!</h3>
        </div>
      </div>
    </div>

    <!--MAIN CONTAINER-->
    <div class="row service-row justify-content-center">
      <div class="services-container">
        <div class="form-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form
            class="residential-booking"
            (ngSubmit)="(f.form.valid)"
            #f="ngForm"
          >
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
              <div class="exp_section" data-aos="fade-up">
                <div class="exp_img">
                  <img
                    src="./assets/images/SERVICE_IMG.png"
                    alt=""
                    class="img-fluid service-img"
                    width="70px"
                    height="70px"
                  />
                </div>
                <div class="inner-header">
                  <p style="font-weight: 400">
                    Residential<br /><span style="font-weight: 300"
                      >Cleaning</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div
              class="row fullscreen d-flex align-items-center justify-content-center"
            >
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="form.first_name"
                      id="first_name"
                      placeholder="First Name"
                      #first_name="ngModel"
                      name="first_name"
                      required
                    />
                  </div>
                  <small
                    class="col-lg-12"
                    style="color: red; font-size: 10px; padding-top: 0px"
                    *ngIf="first_name.touched && !first_name.valid"
                  >
                    First Name is Required
                  </small>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="form.last_name"
                      id="last_name"
                      placeholder="Last Name"
                      #last_name="ngModel"
                      name="last_name"
                      required
                    />
                    <small
                      class="col-lg-12"
                      style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf="last_name.touched && !last_name.valid"
                    >
                      Last Name is Required
                    </small>
                  </div>
                </div>
              </div>

              <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email Address"
                      [(ngModel)]="form.email"
                      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                      name="email"
                      #email="ngModel"
                      required
                      email
                    />
                    <small
                      class="col-lg-12"
                      style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf="email.touched && !email.valid"
                    >
                      Valid Email Required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="phone"
                      placeholder="Phone Number"
                      [(ngModel)]="form.phone"
                      name="phone"
                      #phone="ngModel"
                      required
                    />
                    <small
                      class="col-lg-12"
                      style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf="phone.touched && !phone.valid"
                    >
                      Phone Required
                    </small>
                  </div>
                </div>
              </div>

              <div
                class="zip-code col-xs-12 col-sm-12 col-md-12 col-lg-2 parts-form"
              >
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="input"
                      placeholder="Zip Code"
                      [(ngModel)]="form.zip_code"
                      #zip_code="ngModel"
                      name="zip_code"
                      required
                    />
                    <small
                      class="col-lg-12"
                      style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf="zip_code.touched && !zip_code.valid"
                    >
                      Please enter a Zip Code
                    </small>
                  </div>
                </div>
              </div>

              <div
                class="select-row col-xs-12 col-sm-12 col-md-12 col-lg-5
               parts-form"
              >
                <div style="width: 50%">
                  <div class="form-group">
                    <div class="input-group" id="bathroompicker">
                      <span class="input-group-text">
                        <div class="input-group-append span-img">
                          <img
                            src="./assets/images/BEDROOM-ICON.svg"
                            alt=""
                            class=""
                            width="25px"
                            height="25px"
                          />
                        </div>
                      </span>
                      <select
                        class="form-control custom-select"
                        id="bedroomNumber"
                        [(ngModel)]="form.bedroomNumber"
                        name="bedroomNumber"
                        #bedroom_number="ngModel"
                        required
                      >
                        <!-- <option value="0">0</option> -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <small
                        class="col-lg-12"
                        style="color: red; font-size: 10px; padding-top: 0px"
                        *ngIf="bedroom_number.touched && !bedroom_number.valid"
                      >
                        Enter a bedroom number
                      </small>
                    </div>
                  </div>
                </div>

                <div style="width: 50%">
                  <div class="form-group">
                    <div class="input-group" id="bathroompicker">
                      <span class="input-group-text">
                        <div class="input-group-append span-img">
                          <img
                            src="./assets/images/BATHROOM-ICON.svg"
                            alt=""
                            class=""
                            width="25px"
                            height="25px"
                          />
                        </div>
                      </span>
                      <select
                        style="width: 100%"
                        class="form-control custom-select"
                        id="bathroomSelect"
                        [(ngModel)]="form.bathroomNumber"
                        name="bathroomNumber"
                        #bathroom_number="ngModel"
                        required
                      >
                        <!-- <option value="0">0</option> -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <small
                        class="col-lg-12"
                        style="color: red; font-size: 10px; padding-top: 0px"
                        *ngIf="
                          bathroom_number.touched && !bathroom_number.valid
                        "
                      >
                        Enter a bathroom number
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-xs-12 col-sm-12 col-lg-12 col-md-12 py-4 px-1 bookingSubmit"
              >
                <button
                  type="submit"
                  id="bookingSubmit"
                  class="btn btn-primary"
                  [disabled]="!f.valid"
                  (click)="redirectToBooking()"
                >
                  Get Quote
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="or_devider text-center mx-auto">
                  <h5>OR</h5>
                </div>
              </div>
            </div>

            <div id="services_type" class="services_type">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 text-center">
                  <a href="/service/commercial">
                    <div class="exp_section" data-aos="fade-up">
                      <div class="exp_img1">
                        <img
                          src="./assets/images/COMMERCIAL-ICON.png"
                          alt=""
                          width="70px"
                          height="70px"
                        />
                      </div>
                      <div class="inner-header">
                        <p style="font-weight: 400">
                          Commercial<br /><span style="font-weight: 300"
                            >Cleaning</span
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 airbnb-icon">
                  <a href="/service/airbnb">
                    <div class="exp_section" data-aos="fade-up">
                      <div class="exp_img2">
                        <img
                          src="./assets/images/AIRBNB-ICON.png"
                          alt=""
                          width="70px"
                          height="70px"
                        />
                      </div>
                      <div class="inner-header">
                        <p style="font-weight: 400">
                          Airbnb<br /><span style="font-weight: 300"
                            >Cleaning</span
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="disclaimer col-sm-12 col-xs-12 col-md-12 col-lg-12">
          By entering my email and phone number above, I agree to Sueep's
          <a href="/terms" target="_blank">Terms of Use</a> and
          <a href="/privacy" target="_blank">Privacy Policy</a> (please click
          for more details) and give Sueep permission to contact me for any
          purpose, including to finalize bookings and provide updates and
          exclusive offers.
        </div>
      </div>
    </div>
    <div id="section09">
      <a href="/home/welcome#paragraph-container"><span></span></a>
    </div>
  </div>
</div>
<!-- services-end
      ================================================== -->
