<div class="navbar-section" id="navbar-section">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#"><img src="./assets/images/SUEEP-LOGO.svg" width="130px" height="130px"
          class="alt"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav second-nav m-auto">
          <li class="nav-item nav-link active-link">
            <a class="nav-link" href="" data-section="#">Home
            </a>
            <div class="underline"></div>
          </li>
          <!-- <li class="nav-item nav-link active-link">
            <a class="nav-link" href="/download">Download
            </a>
            <div class="underline"></div>
          </li> -->
          <li class="nav-item nav-link active-link">
            <a class="nav-link" href="/#paragraph-container" data-section="#about">About Us
            </a>
            <div class="underline"></div>
          </li>
          <li class="nav-item nav-link active-link">
            <a class="nav-link" href="/#contact-row">Contact Us
            </a>
            <div class="underline"></div>
          </li>
        </ul>
        <!-- <ul class="navbar-nav profile-top">
          <li class="nav-item dropdown profile-sec">
            <a class="nav-link login" href="#">Login</a>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
</div>
