/* ==========================================================
        Navbar Styles
   ==========================================================*/

.navbar.navbar-expand-lg.navbar-dark {
  z-index: 10;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-section {
  // padding-right: 70px;
  width: 100%;
  height: auto;
  float: left;
  position: absolute;
  z-index: 99999999;
  background: transparent;
  text-align: center;
  border: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(255, 255, 255);

}

.navbar-collapse {
  margin: 0 auto;
  padding-right: 140px;
}

/*start */


.navbar-section ul li .underline {
	height: 3px;
	background-color: white;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-section ul li.active-link .underline {
	width: 100%;
  background-color: transparent;
}

.navbar-section ul li:hover .underline {
	background-color: rgb(255, 255, 255);
  width: 100%;
}

.navbar-section ul li:hover {
  // font-size: 22px !important;
  color: rgb(255, 255, 255) !important;
}

.navbar-section ul li:active a {
	transition: none;
  color: rgb(255, 255, 255);
  // font-weight: 300 !important;
  // font-size: 30px !important;

}

.navbar-section ul li:active .underline {
	transition: none;
  background-color: rgb(255, 255, 255);
}
/*ends*/
.navbar-nav.profile-top .profile-sec .dropdown-menu li a {
  padding: 13px;
}

.navbar-nav.profile-top .profile-sec .dropdown-menu .dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(168, 14, 143) !important;

  .navbar-nav.profile-top .profile-sec .dropdown-menu {
    right: 0;
  }

  .nav-link.login {
    padding: 6px 20px;
    border: 2px solid;
    border-radius: 4px;
  }
}



