/** Body Containers Styles **/

.commercial,
html {
  padding-top: 100px;
  padding-bottom: 300px;
  position: relative;
  top: 0;
  width: 100%;
  background: url(src/assets/images/MAIN-BG.png) no-repeat;
  background-size: cover;
  background-position: top center;
  height: auto;
  background-color: rgb(241, 241, 241);
}

.commercial-container {
  // background: url(src/assets/images/SERVICE-CONT.png) no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 2cm;
  text-align: center;
  margin: 0 auto;
  background-position: top center;
  height: auto;
  width: 800px;
  align-items: center;
}

div.commercial-container:before {
  content: "";
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 245px;
  border-radius: 26px;
  transition: rotate(45deg);
  transform: rotate(45deg);
  transition: rotate(45deg);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.commercial-form {
  padding-top: 10px;
}

.form-container {
  // padding-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 550px;
}

.datepicker-container {
  display: flex;
  justify-content: flex-end;
  #datepicker {
    width: 70%;
  }
}
.timepicker-container {
  display: flex;
  justify-content: flex-start;
  #timepicker {
    width: 70%;
  }
}

.buttons-container {
  position: relative;
  top: 110px;
  right: 384px;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: left;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(159, 164, 170);
  span {
    color: rgb(159, 164, 170);
    font-weight: 400;
    background: none;
  }
  h5 {
    font-size: 12px;
    color: rgb(200, 53, 140);
  }
}

.inner-header {
  font-size: 10px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
  p {
    color: rgb(159, 164, 170);
    font-weight: 400;
    font-size: 15px;
  }
  span {
    color: rgb(159, 164, 170);
    font-weight: 300;
    background: none;
  }
}

/** Body Containers Styles Ends **/

.service-input {
  border-radius: 2cm;
}

.commercial-booking {
  margin: auto;
  padding-top: 60px;
  // padding-left: 20px;
  // padding-right: 20px;
}

.services .btn-primary {
  width: auto;
}

.services select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  // height: 1cm;
  border-radius: 1cm !important;
}
.commercial .parts-form select {
  width: 40% !important;
  border-radius: 1cm !important;
}
.commercial h3 {
  font-size: 37px;
  color: #fff;
  font-weight: 500;
}
h3#subtitle {
  font-weight: 700;
}

//*** Form Fields Styles ***//
.form-container .form-control {
  border-radius: 1cm;
  padding: 6px 12px;
  opacity: 0.7;
  border-color: rgb(107, 106, 106);
  border-width: 2px;
}
.form-container .form-control:focus {
  border-color: rgb(163, 161, 161);
}
.form-container .form-group {
  padding: 2px;
  width: 100%;
  padding-top: 3px;
  // margin: 10px;
}

.form-container .form-control::placeholder {
  font-size: 13px;
}

.form-control.text_area {
  border-radius: 0.5cm !important;
}

//*** Form Fields Styles ***//
.form-container .form-control {
  border-radius: 1cm;
  padding: 6px 12px;
  opacity: 0.7;
  border-color: rgb(107, 106, 106);
  border-width: 2px;
}
.form-container .form-control:focus {
  border-color: rgb(163, 161, 161);
}
.form-container .form-group {
  padding: 0 auto;
  width: 100%;
  // margin: 0 auto;
  // padding-top: 3px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
}

span {
  color: rgb(255, 255, 255);
  background-color: rgb(200, 53, 140);
  border-style: none;
}

span.input-group-text {
  background-color: rgb(200, 53, 140);
  border-style: none;
  // padding-left: 0;
}

//*** Form Fields Styles Ends ***//

.header-services.text-center.mx-auto {
  padding-bottom: 33px;
  padding-top: 33px;
}
.btn-primary {
  color: #fff;
  background-color: rgb(247, 241, 246);
  border-color: #ffffff;
}

//*** Buttons Styles ***//

#commercialSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  background: rgb(200, 53, 140);
  color: hsl(0, 0, 100);
  text-decoration: none;
  // margin: 20px 0;
  // padding: 15px 15px;
  border-radius: 5px;
  border-style: none;
  position: relative;
}

.calendar-btn {
  border-radius: 0px 5px 5px 0px;
}
.btn:hover {
  background: rgb(165, 17, 106);
}

.map {
  width: 100%;
}

/*Responsive Design*/
@media (max-width: 320px) {
  .commercial {
    // padding: 5%;
    padding-top: 120px;
    background: none;
    background: url(src/assets/images/MAIN-BG.png) no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: rgb(241, 241, 241);
    // margin: 0 auto;
    display: flex;
    height: 90%;
  }
  .commercial-container {
    width: 100%;
    height: auto;
  }
  div.commercial-container:before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 360px;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .form-container {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .datepicker-container {
    display: flex;
    #datepicker {
      width: 100%;
    }
  }
  .timepicker-container {
    display: flex;
    #timepicker {
      width: 100%;
    }
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .commercial {
    // padding: 5%;
    padding-top: 120px;
    background: none;
    background: url(src/assets/images/MAIN-BG.png) no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: rgb(241, 241, 241);
    // margin: 0 auto;
    display: flex;
    height: 90%;
  }
  .commercial-container {
    width: 100%;
    height: auto;
  }
  div.commercial-container:before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 310px;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .form-container {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .datepicker-container {
    display: flex;
    #datepicker {
      width: 100%;
    }
  }
  .timepicker-container {
    display: flex;
    #timepicker {
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .commercial {
    // padding: 5%;
    padding-top: 120px;
    background: none;
    background: url(src/assets/images/MAIN-BG.png) no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: rgb(241, 241, 241);
    // margin: 0 auto;
    display: flex;
    height: 90%;
  }
  .commercial-container {
    width: 100%;
    height: auto;
  }
  div.commercial-container:before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 265px;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .form-container {
    width: 100%;
  }
  .map {
    width: 100%;
  }

}

@media (min-width: 1024px) and (max-width: 1100px) {
  .commercial-container {
    width: 100%;
    height: 1100px;
  }
  .map {
    width: 100%;
  }
}
