/* You can add global styles to this file, and also import other style files */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  margin: 0;
  padding: 0;

  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
}
.parallax-section {
  background-attachment: fixed !important;
}
.btn-capsul {
  border-radius: 30px;
}
.btn-aqua {
  background: #01355a;
  color: #fff;
}
.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}
.btn-dark-blue {
  background: #0c242e;
  color: #fff;
}
.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}
.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}
.btn-transparent-white:hover,
.btn-transparent-white:focus {
  background: #fff;
  color: #0297ff;
}
.relative-box {
  position: relative;
}

a {
  color: #000;
}
input {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

.container {
  // max-width: 971px;
  width: 100%;
}

/**** Responsive Design ****/

@media (max-width: 1300px) {
  @media (max-width: 736px) {
    .navbar-section #navbarSupportedContent {
      background: #e21095;
      border: 2px solid #fff;
      padding: 10px 25px;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    .navbar-section .navbar-toggler {
      color: rgba(255, 255, 255);
      border-color: rgb(255, 255, 255);
    }
    .navbar-dark .second-nav .nav-link {
      margin: 0;
    }

    .navbar-section .navbar-toggler {
      display: block;
      float: left;
      width: 18%;
      border: 1px solid #fff !important;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    .navbar-dark .navbar-brand {
      margin: 0 auto;
    }

    .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      position: absolute;
      top: 12px;
      /* float: left; */
      right: 0px !important;
      left: 0px;
    }

    /*******home2******************/

    @media (max-width: 320px) {
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
    }
  }
}
