<!--footer-->
<section class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 logo">
        <img src="./assets/images/SUEEP-LOGO.svg" width="90px" height="90px" alt="">
        <!-- <span style="color: white; text-align: center; max-width: 90%; min-width: 80%;">Sueep Cleaning LLC
          2019</span> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section">
        <h2 style="font-weight: 300;">Available</h2>
        <div class="inner-section">
          <h5>Mon-Fri: 7:00 am - 7:00 pm</h5>
          <h5>Sat-Sun: 11:00 am - 16:00 pm</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section">
          <h2 style="font-weight: 300;">Contact Us</h2>
          <div class="inner-section">
            <h5>contact@sueep.com</h5>
          </div>
        </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 section2">
        <h2 style="font-weight: 300;">Contact Us</h2>
        <div class="inner-section2">
          <h5>3261 Anmoore Road Brooklyn, NY 11230</h5>
          <h5>800-123-4567</h5>
        </div>
      </div> -->
    </div>
  </div>
</section>
