/*footer*/

/*Containers*/
.container {
  background: url(src/assets/images/FOOTER-BG.png) no-repeat center center;
  background-color: rgb(241, 241, 241);
  background-size: cover;
  position: relative;
  min-width: 100%;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  display: flex;
  height: auto;
}
.row {
  width: 100%;
  padding: 30px;
}
.section {
  padding-top: 10%;
  color: white;
  width: 100%;
  text-align: left;
}
.inner-section {
  margin-left: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
}

.logo{
  padding: 10%;
  padding-bottom: 0;
}


/*containers end*/


/* Responsive Desing*/
@media (max-width: 767px) {

  .footer{
    width: 100%;
  }
  .container{
    padding: 5%;
    height: 800px;
  }
  .row {
    padding-top: 170px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .footer{
    width: 100%;
    height: auto;
  }
  .container{
    padding: 5%;
    height: auto;
  }
  .row {
    padding-top: 100px;
  }
}

@media (width: 1024px) {
  .container {
    background-color: rgb(251, 250, 250);
  }
}
