/** Body Containers Styles **/

.contact,
html {
  padding-top: 200px;
  width: 100%;
  background: url(src/assets/images/CONTACT-BG.png) no-repeat;
  background-color: rgb(251, 250, 250);
  // background-color: rgb(206, 39, 126);
  background-size: cover;
  background-position: top center;
  height: 980px;
}

.contact-container {
  // background: url(src/assets/images/SERVICE-CONT.png) no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5cm;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  background-position: top center;
  height: 80%;
  width: 700px;
}
.contact-row {
  padding: 50px;
}

div.contact-container:before {
  content: "";
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 26px;
  transition: rotate(45deg);
  transform: rotate(45deg);
  transition: rotate(45deg);
  top: 125px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.form-container {
  padding-top: 5px;
  margin: 0 auto;
  width: 600px;
}

/** Body Containers Styles Ends **/

.contact-form {
  margin: auto;
  padding-top: 60px;
  padding-left: 5%;
  padding-right: 5%;
}

.services .btn-primary {
  width: auto;
}

.contact h3 {
  font-size: 80px;
  color: rgb(206, 39, 126);
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
}

//*** Form Fields Styles ***//
.form-container .form-control {
  border-radius: 1cm;
  padding: 6px 12px;
  opacity: 0.7;
  border-color: rgb(107, 106, 106);
  border-width: 2px;
}
.form-container .form-control:focus {
  border-color: rgb(163, 161, 161);
}
.form-container .form-group {
  padding: 0 auto;
  width: 100%;
  // margin: 0 auto;
  // padding-top: 3px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
}

.form-container .form-control::placeholder {
  font-size: 13px;
}

.form-control.text_area {
  border-radius: 0.5cm !important;
}

//*** Form Fields Styles Ends ***//

.btn-primary {
  color: #fff;
  background-color: rgb(247, 241, 246);
  border-color: #ffffff;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}

//*** Buttons Styles ***//

#contactSubmit {
  text-align: center;
  background: url(src/assets/images/SERVICE_BTN.svg) no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
}

//*** Buttons Styles Ends ***//

// ** Icons and Images **//

/*Responsive Design*/
@media(max-width: 320px) {
  .contact {
    padding-top: 300px;
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    display: flex;
    height: 100%;
    height: auto;
  }
  .container {
    height: auto;
  }

  div.contact-container:before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    top: 240px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .form-container {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .contact {
    padding-top: 300px;
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    display: flex;
    height: 100%;
    height: auto;
  }
  .container {
    height: auto;
  }

  div.contact-container:before {
    content: "";
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 26px;
    transition: rotate(45deg);
    transform: rotate(45deg);
    transition: rotate(45deg);
    top: 220px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .form-container {
    width: 100%;
  }
}

@media (width: 1024px) {
  .contact {
    padding-top: 200px;
    padding: 0 auto;
    background: url(src/assets/images/CONTACT-BG.png) no-repeat;
    background-color: rgb(251, 250, 250);
    background-size: cover;
    background-position: top center;
    margin: 0 auto;
    display: flex;
    height: 100%;
    height: 900px;
  }

  .form-container {
    width: 100%;
  }
}

