<!-- contact
    ================================================== -->
<div class="contact" id="contact">
  <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--Title-->
    <div class="row">
      <div class="col-12 fullscreen d-flex align-items-center justify-content-center">
        <div class="header-contact text-center mx-auto">
          <h3>Contact Us</h3>
        </div>
      </div>
    </div>
    <div class="row contact-row" id="contact-row">
      <div class="contact-container">

        <div class="form-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form class="contact-form" (ngSubmit)="f.form.valid" #f="ngForm">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="form.first_name" id="first_name"
                      placeholder="First Name" #first_name="ngModel" name='first_name' required>
                    <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf='first_name.touched && !first_name.valid'>
                      First Name is Required
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="form.last_name" id="last_name"
                      placeholder="Last Name" #last_name="ngModel" name='last_name' required>
                    <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf='last_name.touched && !last_name.valid'>
                      Last Name is Required
                    </small>
                  </div>

                </div>
              </div>

              <div class=" col-xs-12 col-sm-12  col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" class="form-control" id='email' placeholder="Email Address"
                      [(ngModel)]="form.email" #email="ngModel" name='email' required email>
                    <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf='email.touched && !email.valid'>
                      Valid Email Required
                    </small>
                  </div>

                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parts-form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id='phone' placeholder="Phone Number"
                      [(ngModel)]="form.phone" #phone="ngModel" name='phone' required>
                    <small class="col-lg-12" style="color: red; font-size: 10px; padding-top: 0px"
                      *ngIf='phone.touched && !phone.valid'>
                      Please enter a Phone Number
                    </small>
                  </div>
                </div>
              </div>


              <!--Additional info-->
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text_area">
              <div class="form-group">
                <textarea class="form-control text_area" name="additional_information" rows="3"
                  placeholder="Additional Information" [(ngModel)]="form.additional_information"
                  name="additional_information"></textarea>
              </div>
            </div>

              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 py-4 px-1 contactSubmit">
                <button type="submit" id="contactSubmit" class="btn btn-primary" [disabled]="!f.valid"
                  (click)="sendContactInfo()">Send</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- contact-end
            ================================================== -->
